<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Built in Filter of Django</h1>
        <h2>{{data}}</h2>
        <h2>{{data|lower}}</h2>
        <h2>{{data|upper}}</h2>
        <h2>{{data|title}}</h2>
        <h2>{{data|capfirst}}</h2>
        <h2>{{data|length}}</h2>
        <h2>{{data|slice:8}}</h2>
        <h2>{{data|truncatechars:3}}</h2>
        <h2>{{data|truncatewords:4}}</h2>


    </center>
</body>
</html>